/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Global styles*/

h1 {
    font-family: "Alegreya";
    color: white;
}

/*Nav bar style*/
.custom-header {
    background-color: #ff8400;
}


/*Text box height*/
.typing-input{
    height: 75%; /* Adjust the height as needed */
}

/*Game buttons */

.btn-outline-custom {
    border-color: #ff8400;
    border-width: 2px;
    margin: 10px;
}